<launch>

    <!--  start the rosserial node  -->
        <node name="serial"
            pkg="rosserial_python"
            type="serial_node.py"
            output="screen"
            args="_port:=/dev/face"
        >
        </node>
        <node pkg="rosservice" type="rosservice" name="service_start_face" args="call /sara_face/Start data: true" />

</launch>
