<launch>
    <include file="$(find sara_description)/launch/sara_description.launch"/>
    <include file="$(find sara_control)/launch/sara_hardware.launch"/>
    <include file="$(find sara_launch)/launch/control/sara_controllers.launch"/>
    <include file="$(find wm_mecanum_cmd)/launch/wm_mecanum_auto.launch"/>
    <include file="$(find wm_odometry_feedback)/launch/wm_odometry_feedback.launch"/>
    <include file="$(find wm_supervisor)/launch/wm_supervisor.launch"/>
</launch>
