<launch>
    <arg name="simulation" default="false" />
    <arg name="teleop" default="true" />
    <arg name="autonaumous_mode" default="true" />
    <arg name="mimetism_mode" default="false" />
    <arg name="rviz" default="true" />

    <arg name="navigation" default="true" />
    <arg name="mapping" default="false" />
    <arg if="$(arg simulation)" name="map" default="$(find sara_navigation)/maps/map_simulation.yaml" />
    <arg unless="$(arg simulation)" name="map" default="$(find sara_navigation)/maps/D_third_floor_ets.yaml" />


    <!-- start the robot itself -->
        <!-- Depending on whether we use simulation or the real Sara, we launch the relevent file. -->
        <include  unless="$(arg simulation)" file="$(find sara_launch)/launch/bringup/low_level_systems/real_robot/sara_hardware.launch"/>
        <include  if="$(arg simulation)" file="$(find sara_launch)/launch/bringup/low_level_systems/simulation/sara_simulation.launch"/>

    <!-- start the high level systems -->
        <include file="$(find sara_launch)/launch/bringup/high_level_systems/sara_high_level.launch">
            <arg name="teleop" default="$(arg teleop)" />
            <arg name="mapping" default="$(arg mapping)" />
            <arg name="navigation" default="$(arg navigation)" />
            <arg name="map" default="$(arg map)" />
        </include>

    <!-- start the autonaumy systems -->
        <!-- start the autonaumy systems -->
        <include  if="$(arg autonaumous_mode)" file="$(find sara_launch)/launch/bringup/autonomy_systems/sara_autonomy.launch">
        </include>

    <!-- start the mimetism system -->
        <include  if="$(arg mimetism_mode)" file="$(find sara_launch)/launch/bringup/mimetism/sara_mimetism.launch">
        </include>

    <!-- start rviz -->
        <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen"/>


</launch>
