<?xml version='1.0'?>

<launch>

    <!-- load the controllers configuration -->
        <rosparam command="load" file="$(find sara_launch)/test/dynamixel/dynamixel_test_controller.yaml"/>

    <!--    load the controller    -->
        <node name="controller_spawner" pkg="controller_manager"
            type="spawner" respawn="false"
            output="screen"
            args="
                sara_joint_state_controller
                dynamixel_test_controller
                --shutdown-timeout 3
            "
    />

</launch>
