<launch>
	<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen" >
		<remap from="/cloud_in" to="/head_xtion/depth/points"/>
		<remap from="/scan" to="/scan_from_pointcloud"/>
		<param name="target_frame" value="base_link"/>
		<param name="angle_max" value="0.8"/>
		<param name="angle_min" value="-0.8"/>
		<param name="angle_increment" value="0.001163553"/>
		<param name="max_height" value="1.8"/>
		<param name="min_height" value="0.0"/>
	</node>
</launch>

