<launch>

    <include file="$(find sara_description)/launch/sara_description.launch"/>

    <!-- set arguments -->
    <arg name="head_xtion" default="head_xtion" />

    <!-- start all cameras -->
    <include file="$(find sara_launch)/launch/openni2/wm_openni2.launch" >
        <arg name="camera" value="$(arg head_xtion)" />
    </include>

    <include file="$(find wm_color_detector)/launch/wm_color_detector.launch"/>

    <include file="$(find wm_frame_to_box)/launch/wm_frame_to_box.launch"/>

    <include file="$(find ros_face_recognition)/launch/webcam.launch"/>

    <include file="$(find wm_data_collector)/launch/data_collector.launch"/>

</launch>
